# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.env.*

# ===============================
# Virtual environments
# ===============================
venv/
.venv/
env/

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# Data & artifacts (IMPORTANT)
# ===============================
data/docs/
data/indexes/
data/logs/
runs/
data/testset.csv


# ===============================
# Databases
# ===============================
*.sqlite
*.db

# ===============================
# Logs
# ===============================
*.log
*.jsonl

# ===============================
# Misc
# ===============================
*.tmp
